<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/profile.css" />

</head>

<body class="bg">

  <ul class="nav">
      <a href="/"><li class="thisPage" ><div class="navItem" id="navItem4">Home</div></li></a>
       <a href="/auth/login"><li style="float: right;"><div class="logBtn" id="logoutBtn">Login</div></li></a>
    </ul>

<div class="container">
    <h1 id="homeHeading">Leave management Home page!</h1>
</div>


</body>
</html>
